<h1> THRIFTER </h1>

<h2> A List of All Our Items </h2>

<ul><% @items.each do |item| %>
    <li><%= link_to item.name, item %> - <%= item.price %> - <%= item.description %></li>
    <% end %>
    </ul>