// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<!--
body {
    background-image: url("https://i.ibb.co/QXFNzS5/backdrop-background-brown-129733.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
-->